@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      color-scheme: light;
      --background: 0 0% 100%;
      --foreground: 222.2 47.4% 11.2%;
  
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
  
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 47.4% 11.2%;
  
      --border: 214.3 31.8% 91.4%;
      --input: 200 15.3% 73.1%;
  
      --card: 0 0% 100%;
      --card-foreground: 222.2 47.4% 11.2%;
  
      --primary: 258.4 100% 35.1%;
      --primary-foreground: 210 40% 98%;
  
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
  
      --accent: 198.5 15.7% 83.7%;
      --accent-foreground: 222.2 47.4% 11.2%;
  
      --destructive: 0 100% 50%;
      --destructive-foreground: 210 40% 98%;
  
      --ring: 258.4 100% 35.1%;
  
      --radius: 0.5rem;
    }
  
    .dark {
      color-scheme: dark;
      --background: 0, 0%, 7%;
      --foreground: 0 0% 100%;
  
      --muted: 223 47% 11%;
      --muted-foreground: 0 0% 77.6%;
  
      --accent: 270 15.6% 12.5%;
      --accent-foreground: 210 40% 98%;
  
      --popover: 224 71% 4%;
      --popover-foreground: 215 20.2% 65.1%;
  
      --border: 268.2 20% 16.7%;
      --input: 268.2 20% 16.7%;
  
      --card: 224 71% 4%;
      --card-foreground: 213 31% 91%;
  
      --primary: 266.9 95.2% 75.7%;
      --primary-foreground: 0 0% 0%;
  
      --secondary: 222.2 47.4% 11.2%;
      --secondary-foreground: 210 40% 98%;
  
      --destructive: 349, 53%, 61%;
      --destructive-foreground: 210 40% 98%;
  
      --ring: 266.9 95.2% 75.7%;
  
      --radius: 0.5rem;
    }
  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
      font-feature-settings: "rlig" 1, "calt" 1;
    }
  }
  
  @layer utilities {
    .step {
      counter-increment: step;
    }
  
    .step:before {
      @apply absolute w-8 h-8 bg-muted rounded-full font-medium text-center text-base inline-flex items-center justify-center -indent-px;
      @apply ml-[-41px];
      content: counter(step);
    }
  }
  
  @media (max-width: 640px) {
    .container {
      @apply px-4;
    }
  }
